#pesquisa h4 {
    color: var(--branco);
    text-align: center;
    font-weight: bold;
    padding: 1vw;
}

#resumo {
    background-color: var(--branco);
    border-radius: 20px;
    margin: 1vw;
    padding: 10px 50px;
}

#resumo .descricao {
    flex: 20%;
}

#resumo .descricao p {
    font-weight: bold;
}

#resumo .valores p {
    color: #646464 !important;
}

#resumo .valores {
    flex: 40%;
}

#resumo .total {
    flex: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#finalizacaoVenda,
#resumoPagamento,
#opcoesPagamento {
    display: flex;
    border-radius: 20px;
    margin: 1vw;
    padding: 10px 50px;
}

#finalizacaoVenda,
#resumoPagamento {
    background-color: var(--branco);
    justify-content: space-between;
    text-align: center;
}

#opcoesPagamento {
    justify-content: space-around;
}

#opcoesPagamento div {
    min-width: 220px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: var(--roxo);
    color: var(--branco);
    font-size: 18px;
}

#opcoesPagamento div .material-symbols-outlined {
    font-size: 30px;
    margin-right: 15px;
}

.resumoVertical {
    display: flex;
    flex-direction: column;
}

.titulo {
    font-weight: bold;
}

section {
    padding-bottom: 1vw;
}

#botoesNavegacao {
    display: flex;
    justify-content: space-between;
    margin: 2vw 1vw;
}

#botoesNavegacao button {
    border-radius: 20px;
    font-size: 13px;
    padding: 10px 20px;
    border: none;
}

#botoesNavegacao #confirmarVenda {
    background-color: var(--verde);
    color: var(--branco);
}

#botoesNavegacao #cancelarVenda {
    background-color: var(--roxo);
    color: var(--branco);
}

#telaValores {
    min-height: calc(100vh - 235px);
}